POSTGRES_DB=library_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=database
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=library_db
JWT_SECRET_KEY=your-secret-key-change-in-production
DATABASE_URL=postgresql://user:password@database:5432/library_db

BACKEND_URL=http://backend:8000/api/v1/
VITE_API_URL=http://localhost:8000/api/v1
VITE_APP_NAME=Library Management System